.card {
	width: 100%;
	background: #fff;
	/* border: 1px solid #cecece; */
	box-shadow: rgba(23, 124, 124, .5) 10px 0px 19px 15px !important;
	border-radius: 20px;
	margin: 60px auto;
}

.cardHeader {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border-bottom: 0.1px solid #eee;
}

.cardHeaderLeft {
	font-size: larger;
	font-weight: 600;
}
