* {
	font-family: 'Poppins';
}

h1,
h2,
h3,
h4 {
	font-family: 'Oswald';
}

.flexRow {
	display: flex;
}

.sb {
	justify-content: space-between;
}

.textCenter {
	text-align: center;
	justify-content: center;
}

.breed {
	display: flex;
	justify-content: center;
	margin: 1rem 0;
}
.breed ul {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}
.breed ul li {
	list-style: none;
	margin-right: 5px;
	display: flex;
	align-items: center;
	font-size: 12px;
}
.breed ul li a {
	text-decoration: none;
	color: #777;
	display: inline-block;
	font-size: 14px;
	margin: 0 10px;
}

