.delAdrContainer {
	display: flex;
	box-sizing: border-box;
	
}
.delTitle {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
	color: rgb(7, 155, 155);
}

.orderNumber {
	position: absolute;
	right: 40px;
	font-size: 18px;
}


.paymentStatus {
	font-size: 15px;
	font-weight: 600;
	margin-top: 20px;
}

.delName {
	font-size: 15px;
	font-weight: 600;
}

.delAddress {
	font-size: 15px;
	margin: 12px auto;
}
.delPhoneNumber {
	font-size: 15px;
	font-weight: 600;
}
.delAdrDetails {
	padding: 20px;
	border-right: 1px solid #eee;
	margin-top: 20px;
	justify-content: space-between;
}

.delAdrDetailsRight {
	padding: 20px;
	margin-right: 60px;
	margin-top: 20px;
}

.delMoreActionContainer {
	padding: 30px;
}

.delItemImgContainer {
	width: 90px;
	height: 90px;
	overflow: visible;
	text-align: center;
	margin: 5px;
}
.delItemImgContainer > img {
	max-width: 200%;
	max-height: 250%;
	object-fit: contain;
	transform: translateY(-35px);
}

/* .delItemInfoContainer {

} */

.orderTrack {
	width: 400px;
	display: flex;
	padding-top: 40px;
	padding-bottom: 50px;
	margin-left: 80px;
}
.orderStatus {
	width: 33.33%;
	height: 3px;
	background: #777;
	position: relative;
	font-size: 12px;
}
.orderStatus.active {
	background: #26a541;
}
.orderStatus:last-child {
	width: 0;
}
.orderStatus .point {
	width: 10px;
	height: 10px;
	position: absolute;
	border-radius: 5px;
	background-color: #777;
	top: -3px;
}
.orderStatus .point.active {
	background-color: #26a541;
}

.orderInfo {
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: -26px;
	transform: translateX(-50%);
	font-size: 14px;
}

.delItemName {
	color: rgb(7, 155, 155);
	font-size: 15px;
}

.delItemName,
.delItemPrice {
	margin: 0 0 30px 30px;
}

.orderInfo .status {
	color: #26a541;
	text-transform: capitalize;
	font-weight: bold;
}

.orderInfo .date {
	font-size: 12px;
}
