.card {
	width: calc(100% - 20px);
	margin: 10px 10px;
	border: 1px solid #cecece;
	box-shadow: 0 2px -2px 0 rgb(233, 183, 183);
	border-radius: 10px;
}

.cardHeader {
	display: flex;
	justify-content: space-between;
	padding: 20px 20px;
	/* border-bottom: 1px solid #cecece; */
}

.productContainer {
	width: 260px;
	margin: 0 10px;
}

.productContainer .productImageContainer {
	width: 180px;
	height: 180px;
	overflow: hidden;
	text-align: center;
	margin: 10px auto;
}

.productContainer .productImageContainer img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.productContainer .productInfo {
	text-align: center;
	font-size: 12px;
	color: #002240;
}

.productName {
	font-size: 15px;
	font-weight: bold;
	margin: 5px 0;
	color: #002240;
}

.productContainer .productPrice {
	font-size: 15px;
	font-weight: bold;
	margin: 5px 0;
	color: rgb(7, 155, 155);
}

.menuheader {
	z-index: 1000;
}

.productGridTitle {
	font-size: 1.4rem;
	color: rgb(7, 155, 155);
}
