.header {
	width: 100%;
	height: 80px;
	background-color: rgb(23, 124, 124);
	color: #fff;
	justify-content: center;
	display: flex;
}

.header h5 {
	margin: auto;
	text-align: center;
}

.subHeader {
	max-width: 1200px;
	width: 100%;
	height: 100%;
	display: flex;
	margin: 0 auto;
	align-items: center;
}

.logo {
	width: 170px;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
.logo .logoimage {
	width: 140px;
}

.searchInputContainer {
	width: 580px;
	position: relative;
	background: #fff;
	height: 40px;
	border-radius: 1px;
	overflow: hidden;
	display: flex;
	margin: 0 2rem;
}
.searchInput {
	width: 520px;
	border: 0;
	height: 40px;
	outline: none;
	box-sizing: border-box;
	padding: 0 10px;
	text-align: center;
}
.searchIconContainer {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.rightMenu {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
}

.fullName {
	display: inline-block;
	width: 140px;
}

.loginButton {
	display: block;
	width: 100px;
	height: 30px;
	background: #fff;
	text-align: center;
	line-height: 30px;
	color: #212121;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
}
.more {
	font-weight: bold;
	color: #fff;
	display: flex;
	align-items: center;
	margin: 0 20px;
	cursor: pointer;
}
.cart {
	font-weight: bold;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 20px;
	text-decoration: none;
}

.cart:hover {
	color: #ffff24;
}

.logoutLink {
	text-decoration: none;
	color: #212121;
}
.logoutLink:hover {
	color: #eeeeee;
}

.authContainer {
	color: #212121;
	margin: 0 auto;
	border-radius: 2px;
	height: 528px;
	max-width: 750px;
	min-width: 650px;
}
.row {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	height: 528px;
	max-width: 750px;
	min-width: 650px;
}

.leftspace {
	width: 43%;
	height: 100%;
	color: #fff;
	letter-spacing: 1px;
	background-image: url('../../images/login-image.png');
	background-color: rgb(7, 155, 155);
	background-repeat: no-repeat;
	background-position: center 85%;
	padding: 40px 33px;
	box-sizing: border-box;
}

.baisser {
	margin-top: 15%;
}

.rightspace {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}

.loginInputContainer {
	width: 100%;
	box-sizing: border-box;
	padding: 0 30px;
	margin: 40px 0;
}
